body
{
  margin: 0;
  background: #ffffff;
  font-family: 'Roboto Slab', serif;
}

.navbar
{
  background: #2c3e50;
  padding-top: 5px;
  color: #fff;
  text-align: center;
}

ul li
{
  display: inline;
}

li
{
  color: #fff;
  margin-right: 10px;
}

a
{
  color: #ffffff;
  text-decoration: none;
}

a:hover
{
  color: #007bff;
}

.githubIcon
{
  width: 50px;
  margin-left: 10px;
}

.container
{
  margin-left: 200px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 50px;
  grid-row-gap: 50px;
  margin-right: 200px;
  margin-bottom: 50px;
}

.more
{
  color: #fff;
  background-color: #007bff;
  border-color: #007bff;
  display: inline-block;
  font-weight: 400;
  text-align: center;
  border: 1px solid transparent;
  padding: .375rem .75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: .25rem;
  cursor: pointer;
  width: 100px;
}

.card
{
  box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
  border: 0;
  font-weight: 400;
  position: relative;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0,0,0,.125);
  border-radius: .25rem;
  display: grid;
  justify-items: center;
  padding-top: 20px;
  padding-bottom: 20px;
}

form
{
  display: flex;
}

.formControl
{
  display: block;
  width: 100%;
  height: calc(1.5em + .75rem + 2px);
  padding: .375rem .75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: .25rem;
  width: 300px;
  margin-left: 35%;
  outline: none;
}

.formControlBtn
{
  color: #fff;
  background-color: #007bff;
  border-color: #007bff;
  display: block;
  font-weight: 400;
  text-align: center;
  border: 1px solid transparent;
  padding: .375rem .75rem;
  font-size: 1rem;
  line-height: 1.5;
  cursor: pointer;
  width: 100px;
  margin-bottom: 50px;
}

.avatar
{
  width: 150px;
}